<!DOCTYPE html>
<html>
<head>
	<title>Results</title>
	<style>
		table, th , td  {                                              /* NICE TABLE Style */
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {                                       /*CSS Considers 1 based index*/
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
	</style>
</head>
<body>

<table>
	<thead>
	<td>ROLL NO.</td>
	<td>NAME</td>
	</thead>

	{% for row in rows%}
	<tr>
		<td>{{row[0]}}</td>
		<td>{{row[1]}}</td>
	</tr>
	{% endfor %}
</table>
<br><br>
<a href="/">HOME</a>
</body>
</html>